.section {
  height: auto;
  background: #fff;
  padding-bottom: 30px;
  ul {
    width: 1240px;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    li {
      width: 25%;
      height: 230px;
      text-align: center;
      padding-top: 45px;
      a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;

        img {
          display: block;
          height: 130px;
          width: 190px;
        }

        em {
          display: block;
          color: #333;
          font-size: 20px;
        }
        p {
          font-size: 14px;
          color: #999;
          margin-bottom: 0px;
          font-size: 14px;
          font-weight: normal;
          line-height: 0px;
        }
      }
    }
  }
}